{% extends 'base.html' %}

{% block content %}
<table>
{% for i in range(5) %}
  <tr>
    {% for ticket in tickets[i*5:(i+1)*5] %}
      <td>
        <div class="card">
          <div class="card-body">
            <p class="card-text">{{ticket['subject']}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                  <a href="{{url_for('ticket',ticket_id=ticket['id'])}}" class="btn btn-primary" role="button">View</a>
              </div>
              <small class="text-muted">{{ticket['created_at']}}</small>
            </div>
          </div>
        </div>
      </td>
    {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}